<div class="col-lg-12">
  <center><img src="{{ "/img/logo.png" | prepend: site.baseurl }}"class="img-responsive logo" alt="logo lux marketing"></center>
</div>

<br>

<div class="container">        
  <div class="">
    <ul class="nav nav-justified">
      <li><a href="/">INICIO</a></li>
      <li><a href="/nosotros/">LUXMARKETING</a></li>
      <li><a href="/servicios/">SERVICIOS</a></li>
      <li><a href="/contacto/">CONTACTO</a></li>
    </ul>
  </div>

  <br>
  
  <div class="col-lg-12">
    <center><img src="{{ "/img/ideasqueiluminan.png" | prepend: site.baseurl }}" class="img-responsive logo" alt="logo lux marketing"></center>
  </div>
  <br>
  <br>
  <br>
</div>